

html {
  height: 100%;
  overflow: hidden;
}
body, .main, .container-fluid {
  height: 100%;
  overflow: scroll;
}
.fa-fw {width: 2em;}

.inherit-height {
  height:inherit;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mg-btm{
  margin-bottom:20px;
}
.margin-20 {
  margin: 20px;
}
.thumbnail {
  margin-top: 20px;
}
.register {
  width: 70%;
  margin: 50px auto;
}

//menu
.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
.navbar-collapse.collapse.in {
  max-height: 2000px;
}
//menu end
.top-margin-20 {
  margin-top: 20px;
}
.form-signin {
  max-width: 400px;
  display:block;
  border-radius:2px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

//bracket
.round-name {
  float: left;
  text-align: center;
}
.round {
  max-width: 200px;
  display: block;
  text-align: center;
  margin: auto;
  float:left;
  .single-match {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    .player {
      display: block;
      border: 1px solid white;
      padding: 10px;
    }
  }
}
.tournament-title {
  display: inline-block;
  width: 100%;
}
.tournament-bracket {
  display: flex;
  align-items: center;
  justify-content: center;
}
//bracket end
