<div class="well" ng-show="bracket.name">
    <h3>Bracket Details</h3>
    <strong>Game: </strong>{{bracket.game}} | <strong>Type: </strong> {{bracket.type}}<br>
    <strong>Players: </strong> {{bracket.registeredSlots}} / {{bracket.totalSlots}}<br>
    <button class="btn btn-primary" ng-click="generateBracket()">Generate Bracket</button>

    <div class="tournament-title" ng-show="balance">
        <h1 class="title">{{bracket.name}} -- Balance Round</h1>
    </div>

    <div class="tournament-bracket" ng-show="balance">
        <div class="round"
             ng-repeat="round in balance"
             style="width: calc(100% / {{balance.length}});">

            <div class="matches">
                <a class="single-match"
                   ng-repeat="match in round.matches"
                   ui-sref="single-match({id:match.id})">

                    <div>{{match.player1.username || 'tbd'}}</div>
                    <div>{{match.player2.username || 'tbd'}}</div>

                </a>
            </div>

        </div>
    </div>

    <div class="tournament-title">
        <h1 class="title">{{bracket.name}} -- Main Event</h1>
        <div class="round-name"
             ng-repeat="round in rounds"
             style="width: calc(100% / {{rounds.length}});">
            <h3>{{round.name}}</h3>
        </div>
    </div>

    <div class="tournament-bracket">
        <div class="round"
             ng-repeat="round in rounds"
             style="width: calc(100% / {{rounds.length}});">

            <div class="matches">
                <a class="single-match"
                   ng-repeat="match in round.matches"
                   ng-click="updateMatch(match)"
                   ui-sref="single-match({id:match.id})">
                    <p>{{match.player1.username || 'tbd'}}</p>
                    <p>{{match.player2.username || 'tbd'}}</p>
                </a>
            </div>

        </div>
    </div>
</div>
