<div class="row">
  <div class="col-xs-6">
    <h3>Tournament Details</h3>
  </div>
  <div class="col-xs-6">
    <h3 class="text-right">Current Status:
            <span class="text-capitalize"
                  ng-class="{'text-success': tourney.status ==='active','text-warning': tourney.status ==='check-in','text-info': tourney.status ==='completed'}">
                {{tourney.status}}
            </span>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4><strong>Tournament Name: </strong>{{tourney.name}}</h4>
    <strong>Tournament Type: </strong>{{tourney.type}}
    <br>
    <strong>Registered Slots: </strong>{{tourney.current}}/{{tourney.max}}
  </div>
  <div class="col-xs-6">
    <a class="btn btn-danger pull-right " ng-click="delete()">Delete</a>
    <a class="btn btn-success pull-right" ng-click="edit()">Edit</a>
    <a class="btn btn-success pull-right" ng-click="generateBracket()">Create Bracket</a>
    <a class="btn btn-default pull-right" ui-sref="admin.tournament.seed({tourney: tourney.id, name: tourney.name})">Seed</a>
    <a class="btn btn-info pull-right" ng-click="resetTourney(tourney.type)">Reset</a>
  </div>
</div>


<div class="row" ng-show="tourney.status === 'registration' || tourney.status === 'check-in'">
  <hr>
  <a class="player col-xs-12" ng-repeat="player in players | orderBy: 'seed'" ng-click="checkinPlayer(player)">
    <span class="pull-left padding">
      {{player.seed}}. {{player.user.username}}
    </span>
    <span class="pull-left padding">Rank: {{player.rank}}
    </span>
    <span class="pull-left padding">
        <span ng-repeat="hero in player.heroClasses">
          {{hero}}
        </span>
        <span ng-show="tourney.status === 'check-in'">
          <i class="fa fa-check-circle-o" ng-show="player.checkin"></i>
        </span>
    </span>
  </a>
</div>
<div class="row" ng-show="tourney.status === 'active'">
  <div class="col-xs-12">
    <hr>
    <div class="tournament-bracket">
      <div class="round"
           ng-repeat="round in rounds">
        <h4 class="title text-center">{{round.name}}</h4>
        <div class="matches">
          <a class="single-match"
               ng-repeat="match in round.matches" ng-click="showMatchDetail(match)">
            <div>Match Num: {{match.matchNum}}</div>
            <div class="player"><span ng-if="match.player1.seed < 99")>{{match.player1.seed }}. </span> {{match.player1.user.username || '-'}}</div>
            <div class="player"><span ng-if="match.player2.seed < 99")>{{match.player2.seed }}. </span> {{match.player2.user.username || '-'}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
