<form class="form-horizontal" novalidate ng-submit="submitTourney()">
    <fieldset>
        <legend>Tourney Detail</legend>
        <div class="form-group" ng-show="status">
            <label class="col-lg-2 control-label">Tournament Status</label>
            <div class="col-lg-10">
                <select class="form-control" ng-model="tourney.status"
                        ng-options="option.value as option.name for option in options">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Tournament Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="*required" ng-model="tourney.name">
            </div>
        </div>

        <div class="form-group">
            <label for="type" class="col-lg-2 control-label">Tournament Type</label>
            <div class="col-lg-10">
                <select id="type" class="form-control" ng-model="tourney.type">
                    <option ng-value="single">Single Elimination Bracket</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="game" class="col-lg-2 control-label">Tournament Game</label>
            <div class="col-lg-10">
                <select id="game" class="form-control" ng-model="tourney.game">
                    <option ng-value="Hearthstone">Hearthstone</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Max Players</label>
            <div class="col-lg-10">
                <input type="number" class="form-control" placeholder="*required" ng-model="tourney.max">
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Additional Details</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="details"></textarea>
                <span class="help-block">Any additional information you want players/organizers to know.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" ng-hide="tourney.id" ng-click="reset()">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
