<div class="vertical-center inherit-height">
    <div class="login">
        <form class="user-form" novalidate>
            <h2 class="text-center mg-btm">Login to ONOG</h2>
            <div class="main">
                <input type="text" class="form-control" placeholder="Username" autofocus ng-model="user.username" autocomplete="off">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" autocomplete="off">
                <span class="clearfix"></span>

                <button type="submit" class="btn btn-block btn-success mg-btm" ng-click="login(user)">Login</button>

                <button type="button" class="btn btn-block btn-primary" ui-sref="register">Register</button>

            </div>
        </form>
    </div>
</div>


