<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">

    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home.index">ONOG</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

    <ul class="nav navbar-nav">
        <li ng-repeat="item in menuItems" ng-class="{'active':active.path == item.parent}">
            <a ui-sref="{{item.name}}">
                <i class="fa fa-fw {{item.icon}} visible-xs-inline-block"></i>
                {{item.title}}
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-show="user">
        <li uib-dropdown on-toggle="toggled(open)">
            <a href id="simple-dropdown" uib-dropdown-toggle>
                Hello,&nbsp; {{user.username}} <b class="caret"></b>
            </a>
            <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-show="admin">
                    <a ui-sref="admin.dashboard">
                        <i class="fa fa-tachometer fa-fw"></i>
                        Admin
                    </a>
                </li>
                <li>
                    <a ui-sref="login" ng-click="logout()">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="user">
        <li>
            <a ui-sref="login">
                <i class="fa fa-sign-in fa-fw visible-xs-inline-block"></i>
                Login
            </a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->