<form class="form-signin mg-btm" novalidate>
    <h3 class="heading-desc">Log in to ONOG</h3>
    <div class="social-box">
        <div class="row mg-btm">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary btn-block">
                    <i class="icon-facebook"></i>    Login with Facebook
                </a>
            </div>
        </div>
    </div>
    <div class="main">
        <input type="text" class="form-control" placeholder="Username" autofocus ng-model="user.username">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        <span class="clearfix"></span>
    </div>
    <div class="login-footer">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="left-section">
                    <a href="#sign-up">Sign Up</a>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 pull-right">
                <button type="submit" class="btn btn-large btn-danger pull-right" ng-click="login(user)">Login</button>
            </div>
        </div>

    </div>
</form>

