<h2>View Tournaments</h2>
<hr>
<h3>Active Brackets</h3>
<ul class="list-group">
    <a ui-sref="bracket-detail({id:model.id})" class="list-group-item" ng-repeat="model in list | orderBy: 'model.createdAt'">
        <h4 class="list-group-item-heading">{{model.name}}</h4>
        <p class="list-group-item-text">
            <strong>Game: </strong>{{model.game}} | <strong>Type: </strong> {{model.type}}<br>
            <strong>Available Slots: </strong> {{model.openSlots}} | <strong>Total Slots: </strong> {{model.totalSlots}}
        </p>
    </a>
</ul>