html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: scroll;
}
.top-margin-20 {
  margin-top: 20px;
}
.form-signin {
  max-width: 400px;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
  border-radius: 5px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
}
.thumbnail {
  margin-top: 20px;
}
//menu

//menu end

//bracket
.round-name {
  float: left;
  text-align: center;
}
.round {
  max-width: 50%;
  display: block;
  text-align: center;
  .single-match {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    display: block;
    text-decoration: none;
  }

}
.tournament-title {
  display: inline-block;
  width: 100%;
}
.tournament-bracket {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
//bracket end
