<div app-menu class="nav-side-menu"></div>
<div class="container-fluid">
    <form class="mg-btm jumbotron top-margin-20" novalidate>
        <div class="row">
            <div class="col-sm-4">
                <input type="file" class="form-control" id="profilePic">
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Employee Name" autofocus ng-model="user.name">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-block btn-primary" ng-click="addEmployee(user)">Add Employee</button>
            </div>
        </div>
    </form>

    <div class="alert-success alert top-margin-20" ng-show="message">{{message}}</div>
</div>