<div class="row">
    <div class="col-xs-6">
        <h3>Tournament Details</h3>
    </div>
    <div class="col-xs-6">
        <h3 class="text-right">Current Status:
            <span class="text-capitalize"
                  ng-class="{'text-success': tourney.status ==='active','text-warning': tourney.status ==='on hold','text-info': tourney.status ==='completed'}">
                {{tourney.status}}
            </span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h4><strong>Tournament Name: </strong>{{tourney.name}}</h4>
        <strong>Tournament Type: </strong>{{tourney.type}}
        <br>
        <strong>Registered Slots: </strong>{{tourney.current}}/{{tourney.max}}
    </div>
    <div class="col-xs-6">
        <button class="btn btn-default pull-right" ng-show="user === null" ui-sref="login">Log in</button>
        <button class="btn btn-success pull-right"
                ng-click="signUp()"
                ng-disabled="user === null"
                ng-hide="hidden || signedUp">
            Sign Up
        </button>
        <button class="btn btn-warning pull-right"
                ng-click="cancel()"
                ng-disabled="user === null"
                ng-hide="hidden || !signedUp">
            Cancel
        </button>
        <button class="btn btn-danger pull-right " ng-click="delete()" ng-show="hidden">Delete</button>
        <button class="btn btn-primary pull-right" ng-click="edit()" ng-show="hidden">Edit</button>
    </div>
</div>
<div class="row">

</div>
