<div class="container-fluid top-margin-20">

  <h2>Current Matches</h2>
  <div class="row">
    <div class="col-sm-4" ng-repeat="match in currentMatches" ng-click="showMatchDetails(match)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>{{match.tournament.name}}</div>
          <div>{{match.tournament.game}}</div>
          <div>Round: {{getRoundName(match)}}</div>
        </div>
        <div class="panel-body">
          <div ng-if="user.id === match.user1.id">
            vs. {{match.user2.username}}
            <div>
              {{match.score.player1}} : {{match.score.player1}}
            </div>
          </div>
          <div ng-if="user.id === match.user2.id">
            vs. {{match.user1.username}}
            <div>
              {{match.score.player2}} : {{match.score.player1}}
            </div>
          </div>
          <div ng-if="!match.player2 || !match.player1"> TDB</div>

        </div>
      </div>
    </div>
  </div>

  <h2>Finished Matches</h2>
  <div class="row">
    <div class="col-sm-4" ng-repeat="match in finishedMatches" ng-click="showMatchDetails(match)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>{{match.tournament.name}}</div>
          <div>{{match.tournament.game}}</div>
          <div>Round: {{getRoundName(match)}}</div>
        </div>
        <div class="panel-body">

          <span ng-if="!match.defWin">
            vs. <span ng-if="user.id === match.user1.id"> {{match.user2.username}}</span>
            <span ng-if="user.id === match.user2.id"> {{match.user1.username}}</span>
            <span ng-if="!match.player2 || !match.player1"> TDB</span>
          </span>
          <span ng-if="match.defWin" class="text-right">DefWin</span>
        </div>
      </div>
    </div>
  </div>

</div>
