<div class="container-fluid top-margin-20">

  <h2>Current Matches</h2>
  <div class="row">
    <div class="col-sm-4" ng-repeat="match in currentMatches" ng-click="showMatchDetails(match)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>{{match.tournament.name}}</div>
          <div>{{match.tournament.game}}</div>
          <div>Round: {{getRoundName(match)}}</div>
        </div>
        <div class="panel-body">

          vs. <span ng-hide="user.id === match.player2.user.id"> {{match.player2.user.username}}</span>
          <span ng-hide="user.id === match.player1.user.id"> {{match.player1.user.username}}</span>
          <span ng-show="!match.player2 || !match.player1"> TDB</span>
        </div>
      </div>
    </div>
  </div>

  <h2>Finished Matches</h2>
  <div class="row">
    <div class="col-sm-4" ng-repeat="match in finishedMatches" ng-click="showMatchDetails(match)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>{{match.tournament.name}}</div>
          <div>{{match.tournament.game}}</div>
          <div>Round: {{getRoundName(match)}}</div>
        </div>
        <div class="panel-body">

          vs. <span ng-hide="user.id === match.player2.user.id"> {{match.player2.user.username}}</span>
          <span ng-hide="user.id === match.player1.user.id"> {{match.player1.user.username}}</span>
          <span ng-show="!match.player2 || !match.player1"> TDB</span>
          <span ng-if="match.defWin" class="text-right">DefWin</span>
        </div>
      </div>
    </div>
  </div>

</div>
