<div class="modal-header">
  <h3 class="modal-title text-center">{{player.tournament.name}} registration</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage.message}}</div>
  <input type="text" class="form-control" placeholder="Highest Rank" autofocus ng-model="player.rank" autocomplete="off">

  <label
    ng-repeat="hero in heroClass"
    class="btn col-sm-3"
    ng-disabled = disableCheckbox(hero)
    ng-class="{'btn-success': hero.value, 'btn-primary': !hero.value}"
    ng-model="hero.value"
    uib-btn-checkbox name="heroClasses">
    {{hero.name}}
  </label>

</div>
<div class="modal-footer">

  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" ng-click="cancel()">Cancel</a>
    <a class="btn btn-success" ng-click="register()" ng-disabled="invalid()">Register</a>
  </div>

</div>
