<div class="well" ng-show="bracket.name">
    <h3>Bracket Details</h3>
    <strong>Game: </strong>{{bracket.game}} | <strong>Type: </strong> {{bracket.type}}<br>
    <strong>Players: </strong> {{bracket.registeredSlots}} / {{bracket.totalSlots}}<br>
    <button class="btn btn-primary" ng-click="generateBracket()">Generate Bracket</button>

    <div class="bracket-list" style="width: 100%">
        <div class="round" ng-repeat="round in rounds" style="width: calc(100% / {{rounds.length}});">
            <h3>{{round.name}}</h3>
            <div class="matches">
                <div class="panel panel-primary" ng-repeat="match in round.matches" ng-click="updateMatch(match)">
                    <div class="panel-body">
                        <span> {{match.playerOne.username || 'n/a'}}</span>
                        <p class="pull-right text-right">{{match.playerOneScore}}</p>

                    </div>
                    <div class="panel-footer">
                        <span> {{match.playerTwo.username || 'n/a'}}</span>
                        <p class="pull-right text-right">{{match.playerTwoScore}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
